### maven ###
**/.mvn/
**/target/

### gradle ###
**/.gradle/
**/build/

### IntelliJ IDEA ###
**/.idea/
**/*.iws
**/*.iml
**/*.ipr

### VS Code ###
.vscode/

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache